<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXK8-aQsKWxwnI-zgAW8f411gZrZp3GFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>894367657423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.krakenAnimelist</string>
	<key>PROJECT_ID</key>
	<string>krakenanime</string>
	<key>STORAGE_BUCKET</key>
	<string>krakenanime.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894367657423:ios:bdaceecd349d512d41f6ba</string>
</dict>
</plist>